{% extends "layout.html" %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h3 class="float-left"><i class="fa fa-comments"></i> Areas</h3>
            <a href={{ url_for('forum.create_area') }} class="btn btn-info float-right"><i class="fa fa-comments"></i>
            Create Area</a>
        </div>
        <div class="card-body">
            <ul class="list-group">
                {% if areas %}
                    {% for area in areas %}

                        <li class="list-group-item" onclick=
                                "location.href = '{{ url_for('area.area', area_name=area.name) }}'
                                        ">
                            <i class="far fa-comment-alt"></i> {{ area.name }}
                        </li>

                    {% endfor %}
                {% else %}
                    <p>No Areas. Create one! :)</p>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}