{% extends "layout.html" %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h3 class="float-left"><i class="fa fa-comment-alt"></i> {{ g.area.name }}</h3>
            <a href="{{ url_for('area.create_topic_page', area_name=g.area.name) }}"
               class="btn btn-info float-right">
                <i class="fa fa-comment-alt"></i> New Topic
            </a>
        </div>
        <div class="card-body">
            {% if g.area.topics %}
                <ul class="list-group">
                    {% for topic in g.area.topics %}
                        <li class="list-group-item clickable"
                            onclick="location.href = '{{ url_for('topic.topic', area_name=g.area.name, created=topic.created) }}'">
                            <div class="float-left">
                                <i class="fa-lg far fa-comment"></i>&nbsp;
                            </div>
                            <div class="float-left">
                                {{ topic.name }}<br>
                                <small>{{ topic.created }} by <b>{{ topic.account.name }}</b></small>
                            </div>
                            <div class="float-right">
                                Last reply: <b>{{ topic.last_post_by() }}</b><br>
                                <small> {{ topic.last_post_created() }}</small>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p><i class="fa fa-comment-alt"></i> Begin a discussion! :)</p>
            {% endif %}
        </div>
    </div>

    {% if g.area.description %}
        <br>
        <div class="card">
            <div class="card-body">
                <h6>{{ g.area.name }}</h6>
                <p>{{ g.area.description }}</p>
            </div>
        </div>
    {% endif %}
{% endblock %}