{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3><i class="fa fa-comment"></i> Edit a message</h3>
        </div>
        <div class="card-body">
            {% if form.message.data %}
                <h3>Preview</h3>
                <section style="padding: 0;">{{ form.message.data|markdown(no_html=True, autolink=True) }}</section>
                <br>
            {% endif %}
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST" action="{{ action }}">
                {{ wtf.form_field(form.message, class='form-control', placeholder='Write here..') }}
                <input class="btn btn-info" type="submit" value="Send Message">
            </form>
        </div>
    </div>
{% endblock %}