{% extends "layout.html" %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h3 class="float-left"><i class="fa fa-comment-alt"></i> {{ g.thread.name }}</h3>
            <button type="button" class="btn btn-info float-right"><i class="fa fa-comment"></i> Comment</button>
        </div>
        {% if g.thread.messages %}
            {% for message in g.thread.messages %}
                <div class="card-body">
                    <p>{{ message.content }}</p>
                </div>
            {% endfor %}
        {% else %}
            <div class="card-body"><p><i class="fa fa-comment-alt"></i> No messages here, begin a discussion! :)</p>
            </div>
        {% endif %}
    </div>

{% endblock %}