{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3><i class="fa fa-comment-alt"></i> Start a new Topic</h3>
        </div>
        <div class="card-body">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST" action="{{ action }}">
                {{ wtf.form_field(form.name, class='form-control', placeholder='Title') }}
                {{ wtf.form_field(form.message, class='form-control', placeholder='Write here..') }}
                <input class="btn btn-info" type="submit" value="Post">
            </form>
        </div>
    </div>
{% endblock %}