{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3><i class="fa fa-users"></i> Register</h3>
        </div>
        <div class="card-body">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST" action="{{ url_for('auth.register') }}">
                {{ wtf.form_field(form.name, class='form-control', placeholder='Username') }}
                {{ wtf.form_field(form.password, class='form-control') }}
                {{ wtf.form_field(form.password_again, class='form-control') }}
                <input class="btn btn-info" type="submit" value="Register new user"/>
            </form>
        </div>
    </div>
{% endblock %}